<h1><%= @cocktail.name %></h1>
<h4>id: <%= @cocktail.id %></h4>
<h4>Ingredients:</h4>
<ul>
  <% @cocktail.dose_ids.each do |id| %>
  <li>
    <% dose = Dose.find(id) %>
    <%= Ingredient.find(dose.ingredient_id).name + ", " %>
    <%= dose.description %>
    <%= link_to 'DELETE', dose_path(dose), method: :delete, class: 'btn btn-danger ml-3' %>
  </li>
  <% end %>
</ul>

<div class="links d-flex">
  <%= link_to 'Back to cocktails list', cocktails_path, class: 'btn btn-primary' %>
  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-info ml-3' %>
</div>
